body{
    background: black;
    margin: 100px;
    padding: 0%;
    
   }
   
   .principal{
       background: gray;
       width: 400px;
       height: 320px;
       margin: auto;
       border: 2px solid rgb(160, 14, 14)
   }
   
   .headercard{
       display: flex;
       justify-content: space-between;
       padding: 5%;
      
    } 
   
   .headercard img{
       width: 150px;
       height: 50px;
   }
   
   .headercard h1{
       font-style: italic;
       color: brown;
       margin: auto;
   }
   
   
   .bodycard{
       display:flex;
      padding: 2%;
       justify-content: space-between;
       border: 2px solid rgb(159, 9, 9);
       
   }
   
   .rigthtext{
       justify-content: center;
       padding-top: 7%;
   }
   
   .lefttext{
       margin-top: auto;
       font-style:oblique;
   }
   
   .footercard{
         padding: 2%;
       text-align: center;
   }
   
   input{
       border: none;
       border-bottom: 1px solid gray;
       border-radius: 5%;
       font-family: 'Courier New', Courier, monospace;
   }
   
   .send{
       border-radius: 3%;
       color:rgb(159, 9, 9)
   }
   button:hover{
       background-color: brown;
       padding: 0;
   }
   
   .footertext{
       color: white;
       display: flex;
       justify-content: center;
   }
   